extends ../layout

block content
  a(href='/admin/center/')
    span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
    | Back To List
  h1= title
  div(class='row')
    div(class='col-xs-12 col-sm-6 col-md-8')
      h2 Details
    div(class='col-xs-6 col-md-4', style='text-align: right; padding-top: 30px')
      a(href='/admin/center/#{center._id}/edit')
        span(class='glyphicon glyphicon-pencil', aria-hidden='true')
        |  Edit Details
  div(class='row')
    div(class='col-md-6')
      dl(class='dl-horizontal')
        dt Name
        dd= center.name
        dt Description
        dd= center.description
        dt Address
        dd= center.address
        dt Latitude
        dd= center.latitude
        dt Longitude
        dd= center.longitude
        dt Contact Email
        dd
          a(href='mailto:#{center.email}')= center.email
        dt Phone Number
        dd= center.phone_number

    div(class='col-md-6')
      div(id='map', style='height: 400px; text-align: center') Loading Map...
      script.
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: #{center.latitude}, lng: #{center.longitude}},
            zoom: 8
          });
          var marker = new google.maps.Marker({
            position: {lat: #{center.latitude}, lng: #{center.longitude}},
            map: map,
            title: '#{center.name}'
          });
        }
  div(class='row')
    div(class='col-xs-12 col-sm-6 col-md-8')
      h2 Needs
    div(class='col-xs-6 col-md-4', style='text-align: right; padding-top: 30px')
      a(href='#' onclick='newForm(); return false;') Add a Need 
        span(class='glyphicon glyphicon-plus', aria-hidden='true')
  table(class="table table-striped table-bordered")
    tr
      th Category
      th Description
      th Priority
      th Due Date
      th 
      th
    each item in center.items
      tr
        td #{item.category.englishName} - #{item.category.englishName}
        td= item.description
        td= item.priority_name
        td= item.due_date
        td(class='center w80') 
          a(href='#' onclick='editForm("#{item._id}"); return false;') Change 
            span(class='glyphicon glyphicon-pencil', aria-hidden='true')
        td(class='center w80 delete') 
          a(href='/admin/center/#{center._id}/#{item._id}/delete/') Delete 
            span(class='glyphicon glyphicon-remove', aria-hidden='true')

  div(id='modal')

  script.
    function newForm() {
      $.get('/admin/center/#{center._id}/new/', function(data) {
        $('#modal').html(data);
        $('#edit-modal').modal('show');
      });
    }

    function editForm(itemId) {
      $.get('/admin/center/#{center._id}/' + itemId + '/edit/', function(data) {
        $('#modal').html(data);
        $('#edit-modal').modal('show');
      });
    }

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBS07rZOPQhyZdE5qa7IYyZxevRvZe3UA0&callback=initMap', async, defer)