extends ../layout

block content
  div(class='row')
    div(class='col-xs-12 col-sm-6 col-md-8')
      h1= title
    div(class='col-xs-6 col-md-4', style='text-align: right; padding-top: 30px')
      a(href="/admin/center/new/") Create New Center
  table(class="table table-striped table-bordered")
    tr
      th Name
      th Latitude
      th Longitude
      th Email
      th 
      th 
    each item in items
      tr
        td= item.name
        td= item.latitude
        td= item.longitude
        td= item.email
        td(class='center w80') 
          a(href='/admin/center/#{item._id}/') View 
            span(class='glyphicon glyphicon-eye-open', aria-hidden='true')
        td(class='center w80 delete') 
          a(href='/admin/center/#{item._id}/delete/') Delete 
            span(class='glyphicon glyphicon-remove', aria-hidden='true')